<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RegularExpression</title>
    <meta name="description" content="A regular expression engine written in Ruby">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="/app.css">
    <script src="/app.js"></script>
  </head>
  <body>
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <h2 class="ui teal image header">
          <div class="content">
            RegularExpression
          </div>
        </h2>
        <p>A regular expression engine written in Ruby</p>
        <form class="ui large form">
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="code icon"></i>
                <input type="text" name="pattern" placeholder="Regular expression">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="align left icon"></i>
                <input type="text" name="value" placeholder="Text">
              </div>
            </div>
            <div class="ui massive label teal">
              <i class="check circle icon"></i>
              <span>That's a match!</span>
            </div>
          </div>
        </form>
        <div class="ui hidden divider"></div>
        <p>
          <a href="https://github.com/kddnewton/regular_expression/" class="ui compact labeled icon button">
            <i class="github icon"></i>
            Source code
          </a>
        </p>
      </div>
    </div>
  </body>
</html>
